@import '../global.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  height: fit-content;
  background: #ffffffff; /* white */
  border-radius: 0px;
}

.text {
  font-family: $primary-font; /* Heading */
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  color: $neutral-900; /* neutral-900 */
  text-align: center;
}

.text2 {
  width: 780px;
  font-family: $secondary-font; /* Body */
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #9095a0ff; /* neutral-500 */
  text-align: center;
  margin: auto;
}

.text3 {
  width: 510px;
  font-family: $secondary-font; /* Body */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: $neutral-900; /* neutral-900 */
  text-align: center;
}

.text4 {
  font-family: $primary-font; /* Heading */
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: $primary-color; /* primary-500 */
}

/* Container 20 */
.image-container {
  width: 957px;
  height: 540px;
  background: $neutral-900; /* neutral-900 */
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Image 20 */
.video {
  width: 957px;
  height: 540px;
  border-radius: 0px;
}

/* Container 21 */
.join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 1176px;
  height: 384px;
  background: #fafafbff; /* neutral-100 */
  border-radius: 6px; /* border-m */
  overflow: hidden;
}

.image-dots-left {
  position: absolute;
  top: -160px;
  left: 165px;
  width: 177px;
  height: 264px;
  border-radius: 0px;
}

/* Image 21 */
.image-dots-right {
  position: absolute;
  top: 278px;
  left: 1108px;
  width: 177px;
  height: 264px;
  border-radius: 0px;
}

/* Oval 1 */
.oval {
  position: absolute;
  top: 171px;
  left: -73px;
  width: 295px;
  height: 295px;
  background: #867ce1ff; /* primary-400 */
  border-radius: 50%;
}

/* Image 21 */
.image-curve {
  position: absolute;
  top: -189px;
  left: 1058px;
  width: 383px;
  height: 383px;
  border-radius: 0px;
}

/* Button 23 */
.button {
  height: 52px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font; /* Body */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffffff; /* white */
  background: $primary-color; /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 6px; /* border-m */
}
/* Hover */
.button:hover {
  color: #ffffffff; /* white */
  background: #4d3ed3ff; /* primary-550 */
}
/* Pressed */
.button:hover:active {
  color: #ffffffff; /* white */
  background: #3d2dc7ff; /* primary-600 */
}
/* Disabled */
.button:disabled {
  opacity: 0.4;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
    gap: 30px;
  }

  .image-dots-left {
    position: absolute;
    top: -200px;
    left: -75px;
  }

  .text2 {
    width: 100%;
  }

  .text3 {
    width: 100%;
  }

  .image-container,
  .video {
    width: 100%;
    height: auto;
  }

  .join-us {
    width: 100%;
    height: auto;
  }

  .button {
    width: 100%;
  }
}