<div class="container">
  <div class="text-container">
    <h1 class="text">Let's start learning</h1>
    <p class="text2">
      Welcome to Learn Platform - where every day is a day to learn. Dive into the
      vast ocean of knowledge and empower yourself with the tools for a successful
      tomorrow. Happy learning!
    </p>
  </div>
  <div class="image-container">
    <video class="video" width="1280" height="720" controls>
      <source src="../../assets/mp4/video.mp4" type="video/mp4">
    </video>
  </div>
  <div class="join-us">
    <img class="image-dots-left" src="../../assets/images/home-page-dots.png" />
    <div class="oval"></div>
    <h1 class="text4">Join us</h1>
    <p class="text3">
      Qui ut exercitation officia proident enim non tempor tempr ipsum ex nulla
      ea adipisicing sit consequat enim elit cupidatat o
    </p>
    <app-shared-button buttonStyle="primary"
    ><a routerLink="/join-us">Join Us</a></app-shared-button
  >
    <img class="image-curve" src="../../assets/images/home-page-curve.png" />
    <img
      class="image-dots-right"
      src="../../assets/images/home-page-dots.png"
    />
  </div>
</div>
