// navigation-menu.component.scss
@import '../global.scss';

.navigation-menu {
  display: flex;
  align-items: center;

  a:link {
    text-decoration: none;
  }

  /* Navigation Menu Item */
  &-item {
    padding: 13px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $neutral-600;
    background: transparent;
    @include border-radius-m;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
      color: $primary-color;
      background: transparent;
    }

    &.selected {
      font-weight: 700;
      color: $primary-color;
      background: transparent;

      &:hover {
        color: $primary-color;
        background: transparent;
      }
    }

    a {
        padding: 0 24px;
    }
  }
}
