<div class="navigation-menu">
  <div class="navigation-menu-item">
    <a
      *ngIf="!userService.isLoggedIn()"
      routerLink="/home"
      routerLinkActive="active"
      >Home</a
    >
    <a *ngIf="userService.isLoggedIn()" routerLink="/blog">Blog</a>
    <a href="#">Pricing</a>
    <a routerLink="/about-us">About Us</a>
  </div>
</div>
