@import "../global.scss";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 80px 20px 20px;
  font-family: $primary-font;
  width: 100%;
  height: 341px;
  background: #fafafbff;
  border-radius: 0px;

  .footer__content {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  .footer__group {
    display: flex;
    align-items: center;
    height: fit-content;
  }

  .footer__image {
    width: 45px;
    height: 34px;
    border-radius: 0px;
  }

  .footer__learn-text {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 1000;
    line-height: 48px;
    color: $neutral-900;
  }

  .footer__headline {
    font-weight: bold;
    font-family: $primary-font;
  }

  .newsletter {
    color: $primary-color;
  }

  .paragraph {
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #424955ff;
    margin: 10px 0 20px 0;
  }

  .footer__list {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
  }

  .footer__list li {
    margin-bottom: 20px;
  }

  a:link {
    text-decoration: none;
  }

  .footer__newsletter {
    .footer__form-field {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .email-container {
      display: flex;
      width: 100%;
    }

    .email-input {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 70%;
      padding: 5px;
      border: 1px solid grey;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .email-icon {
      overflow: visible;
    }

    .email-container input {
      all: unset;
      font-size: 14px;
    }
    .input-button {
      display: flex;
      flex-direction: row;
    }
    .footer__button-subscribe {
      width: 114px;
      height: 36px;
      padding: 0 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #fff;
      background: $primary-color;
      border: none;
      border-radius: 0px 6px 6px 0px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background: #4d3ed3ff;
      }

      &:active {
        background: #3d2dc7ff;
      }

      &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
  }

  .footer__additional-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;

    .footer__bottom-text {
      font-size: 0.9rem;
      text-align: center;
      margin: 0.5rem 0;
    }

    .footer__social-icons {
      display: flex;
      gap: 15px;
      width: 24px;
      height: 24px;
      color: #6355d8ff;
    }

    .footer__additional-content2 {
      display: flex;
      gap: 300px;
      align-items: center;
      flex-direction: row;
    }

    .line {
      width: 1176px;
      height: 0px;
      border-width: 1px;
      border-color: #dee1e6ff;
      border-style: solid;
      transform: rotate(0deg);
    }
  }

  // Media query for screens less than 600px
  @media screen and (max-width: 600px) {
    padding: 40px 20px 20px;
    margin-top: 50px;
    height: fit-content;

    .footer__content {
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .footer__group {
      display: none;
    }

    .footer__learn-text {
      font-size: 24px;
    }

    .footer__newsletter .email-input {
      width: 100%;
    }

    .line {
      display: none;
    }

    .footer__additional-content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 20px;

      .footer__additional-content2 {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: column;
      }

      .footer__social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 24px;
        height: 24px;
        color: #6355d8ff;
      }
    }
  }
}
