<footer>
  <div class="footer__content">
    <div class="footer__group">
      <img src="../../assets/images/learn-icon.png" class="footer__image" />
      <div class="footer__learn-text">learn</div>
    </div>
    <div>
      <h2 class="footer__headline">Product</h2>
      <ul class="footer__list">
        <!-- <a routerLink="/features" routerLinkActive="active">Features</a> -->
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </div>
    <div>
      <h2 class="footer__headline">Resources</h2>
      <ul class="footer__list">
        <li><a routerLink="/blog">Blog</a></li>
        <li><a href="#">User Guides</a></li>
        <li><a href="#">Webinar</a></li>
      </ul>
    </div>
    <div>
      <h2 class="footer__headline">Company</h2>
      <ul class="footer__list">
        <li><a routerLink="/about-us">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
    <div class="footer__newsletter">
      <h2 class="footer__headline newsletter">Subscribe to our newsletter</h2>
      <p class="paragraph">For product announcements and exclusive insights</p>
      <div class="email-container">
        <div class="email-input">
          <mat-icon class="email-icon">email</mat-icon>
          <input placeholder="Input your email" />
        </div>
        <button class="footer__button-subscribe">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer__additional-content">
    <hr class="line" />
    <div class="footer__additional-content2">
      <div class="footer__language-selector">
        <mat-form-field appearance="fill">
          <mat-select [(value)]="selectedOption">
            <mat-option *ngFor="let option of options" [value]="option">{{
              option
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="footer__bottom-text">
        <p>&copy; 2023 Learn, Inc. &#183; Privacy &#183; Terms</p>
      </div>
      <div class="footer__social-icons">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </div>
  </div>
</footer>
