<div class="side-menu">
  <div class="menu-header">
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
    <div class="menu-header-badge" *ngIf="userService.isLoggedIn()">
      <div class="badge-container">
        <img
          *ngIf="userRole == 'student'"
          src="../../assets/images/profile1.jpg"
          class="badge-image"
        />
        <img
          *ngIf="userRole == 'trainer'"
          src="../../assets/images/profile2.jpg"
          class="badge-image"
        />
        <div class="user-details">
          <div class="badge-username">{{ userService.getUserUsername() }}</div>
          <div class="badge-username">{{ userService.getUserEmail() }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-links">
    <div class="links">
      <a
        *ngIf="!userService.isLoggedIn()"
        routerLink="/home"
        routerLinkActive="active"
        >Home</a
      >
      <a *ngIf="userService.isLoggedIn()" routerLink="/blog">Blog</a>
      <a href="#">Pricing</a>
      <a routerLink="/about-us">About Us</a>
      <a *ngIf="userService.isLoggedIn()" routerLink="/my-account"
        >My Account</a
      >
    </div>
    <div *ngIf="userService.isLoggedIn()">
      <div class="menu-item" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i>Logout
      </div>
    </div>
  </div>
</div>
