@import "../global.scss";

.side-menu {
  width: 250px;
  height: 100%;
  background-color: #ffffffff;
  color: $neutral-900;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  .close-icon {
    cursor: pointer;
    font-size: 24px;
    color: $primary-color;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }

  &-badge {
    display: flex;

    .badge-image {
      width: 51px;
      height: 51px;
      background: #cfcbf3ff; /* primary-200 */
      opacity: 1;
      overflow: hidden;
      border-radius: 26px;
    }

    .badge-username {
      width: 163px;
      height: 27px;
      font-family: $secondary-font; /* Body */
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      color: $neutral-900;
    }

    .user-details {
      display: flex;
      flex-direction: column;
    }

    .badge-container {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      cursor: pointer;
    }
  }
}

.menu-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;

  .links {
    display: flex;
    flex-direction: column;
  }

  a {
    color: $neutral-900;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: color 0.3s;

    &:hover {
      color: $primary-color;
    }

    &.active {
      font-weight: bold;
      color: $primary-color;
    }
  }

  .menu-item {
    cursor: pointer;
    color: $neutral-900;
    font-size: 16px;
    margin-top: 20px;
    transition: color 0.3s;
    padding: 5px;

    &:hover {
      color: $primary-color;
    }
  }


}
