<div class="my-account-container">
  <h2 class="account">My Account</h2>

  <div class="columns-container">
    <div class="left-column">
      <h3 class="trainers">My profile</h3>
      <div class="profile-picture">
        <img *ngIf="userRole == 'student'" src="../../assets/images/profile1.jpg" alt="Profile Picture" />
        <img *ngIf="userRole == 'trainer'" src="../../assets/images/profile2.jpg" alt="Profile Picture" />
        <div class="status">
          <p>Status</p>
          <div class="active">
            <mat-icon>check_circle_outline</mat-icon>
            <p>Active</p>
          </div>
        </div>
      </div>

      <div *ngIf="userRole == 'student'">
        <div class="user-data" *ngFor="let user of userData">
          <p>First Name</p>
          <p>{{ user.firstName }}</p>
          <p>Last Name</p>
          <p>{{ user.lastName }}</p>
          <p>Username</p>
          <p>{{ user.username }}</p>
          <p>Date of birth</p>
          <p>{{ user.dateOfBirth }}</p>
          <p>Address</p>
          <p>{{ user.address }}</p>
          <p>Email</p>
          <p>{{ user.email }}</p>

          <div class="buttons">
            <app-shared-button buttonStyle="primary"
              >Edit profile</app-shared-button
            >
            <button class="password">Change Password</button>
            <button class="delete">Delete profile</button>
          </div>
        </div>
      </div>

      <div *ngIf="userRole == 'trainer'">
        <div class="user-data" *ngFor="let user of userData">
          <p>First Name</p>
          <p>{{ user.firstName }}</p>
          <p>Last Name</p>
          <p>{{ user.lastName }}</p>
          <p>Username</p>
          <p>{{ user.username }}</p>
          <p>Date of birth</p>
          <p>{{ user.specialization }}</p>
          <p>Address</p>
          <p>{{ user.address }}</p>
          <p>Email</p>
          <p>{{ user.email }}</p>

          <div class="buttons">
            <app-shared-button buttonStyle="primary"
              >Edit profile</app-shared-button
            >
            <button class="password">Change Password</button>
          </div>
        </div>
      </div>
    </div>

    <div class="right-column">
      <!-- student account -->
      <div class="title" *ngIf="userRole == 'student'">
        <h3 class="trainers">My Trainers</h3>
        <app-shared-button buttonStyle="primary">Add trainer</app-shared-button>
      </div>
      <table *ngIf="userRole == 'student'">
        <tr>
          <th>NAME</th>
          <th>SPECIALIZATION</th>
        </tr>
        <tr>
          <td>Elizabeth Lopez</td>
          <td>PHP</td>
        </tr>
        <tr>
          <td>Matthew Martinez</td>
          <td>JavaScript</td>
        </tr>
        <tr>
          <td>Elizabeth Hall</td>
          <td>Algorithms</td>
        </tr>
        <tr>
          <td>Maria White</td>
          <td>Java</td>
        </tr>
      </table>
      <!-- trainer account  -->
      <div class="title" *ngIf="userRole == 'trainer'">
        <h3 class="trainers">My Students</h3>
      </div>
      <table class="students" *ngIf="userRole == 'trainer'">
        <tr>
          <th>NAME</th>
          <th>STATUS</th>
        </tr>
        <tr>
          <td>Elizabeth Lopez</td>
          <td class="active">ACTIVE</td>
        </tr>
        <tr>
          <td>Matthew Martinez</td>
          <td class="active">ACTIVE</td>
        </tr>
        <tr>
          <td>Elizabeth Hall</td>
          <td class="inactive">NOT ACTIVE</td>
        </tr>
        <tr>
          <td>Maria White</td>
          <td class="inactive">NOT ACTIVE</td>
        </tr>
        <tr>
          <td>Elizabeth Watson</td>
          <td class="inactive">NOT ACTIVE</td>
        </tr>
        <tr>
          <td>Elizabeth Allen</td>
          <td class="inactive">NOT ACTIVE</td>
        </tr>
        <tr>
          <td>Caleb Jones White</td>
          <td class="inactive">NOT ACTIVE</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="trainings">
    <h3>My Trainings</h3>
    <p>
      The Training Section is interactive, allowing you to engage with trainers
      and fellow learners, participate in quizzes, and track your progress. All
      our courses are flexible and adaptable to your schedule and learning
      speed.
    </p>
    <app-shared-button buttonStyle="primary"
      ><a routerLink="/trainings">View trainings</a></app-shared-button
    >
  </div>
</div>
