@import "../global.scss";
.my-account-container {
  padding: 20px;
}

.account {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  color: $neutral-900;
  text-align: center;
  margin: 25px 0 100px 0;
}

.columns-container {
  display: flex;
}

.left-column {
  flex: 1;
  margin-left: 120px;

  .status {
    display: flex;
    flex-direction: column;
    font-family: $secondary-font; /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    .active {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #36b584ff;
    }

    p:nth-child(odd) {
      font-weight: bold;
    }
  }

  .profile-picture {
    display: flex;
    gap: 30px;
    img {
      max-width: 100%;
      width: 160px;
      height: 160px;
      background: #cfcbf3ff; /* primary-200 */
      opacity: 1;
      overflow: hidden;
      border-radius: 8px;
    }
  }

  .user-data {
    margin-top: 20px;

    p {
      font-family: $secondary-font;
      font-size: 16px;
    }

    .buttons {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      button {
        margin-right: 10px;
      }
    }

    p:nth-child(odd) {
      font-weight: bold;
      margin-top: 10px;
    }
  }
}
.trainers {
  font-family: $primary-font;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  padding-bottom: 30px;
}

.right-column {
  flex: 1;

  .title {
    display: flex;
    align-items: center;
    gap: 142px;
  }

  .active {
    font-family: $secondary-font; /* Body */
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #60cfa5ff;
  }

  .inactive {
    font-family: $secondary-font; /* Body */
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #f22128ff;
  }

  .students {
    width: 396px;
    height: 559.01px;
    opacity: 1;
    border-radius: 6px;
  }

  table {
    width: 428px;
    height: 329.27px;
    opacity: 1;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    border-spacing: 0;
  }

  th {
    text-align: left;
    background-color: rgb(236, 236, 236);
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding-left: 10px;
  }

  td {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    border-top: 1px solid rgb(236, 236, 236);
    padding-left: 10px;
  }

  td:nth-child(odd) {
    font-weight: bold;
  }
}

button {
  height: 36px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font; /* Body */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffffff; /* white */
  background: #60cfa5ff; /* tertiary3-500 */
  opacity: 1;
  border: none;
  border-radius: 6px;
}

.password {
  background: #60cfa5ff; /* tertiary3-500 */
}

.delete {
  background: #ed5d56ff;
}

.trainings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 250px;

  h3 {
    font-family: $primary-font; /* Heading */
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    color: $neutral-900;
  }

  p {
    width: 882px;
    font-family: $secondary-font; /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $neutral-900;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .columns-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .left-column {
    margin-left: 50px;
    width: 100%;
  }

  .trainings {
    width: 100%;
    text-align: center;

    p {
      width: 100%;
    }
  }

  .buttons {
    flex-direction: column;
    width: fit-content;
  }

  .right-column {
    width: 100%;
    padding: 10px;

    .title {
      flex-direction: column;
      gap: 0;
      width: 100%;
      padding: 10px;
    }

    table {
      width: 100%;
    }
  }
}
