@import "../global.scss";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  height: fit-content;
  background: #ffffffff;
  border-radius: 0px;
}

.text {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  color: $neutral-900;
  text-align: center;
}

.text2 {
  width: 780px;
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #9095a0ff;
  text-align: center;
  margin: auto;
}

.team-desc {
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #9095a0ff;
}

.title {
  font-family: $primary-font;
  font-weight: 700;
  line-height: 68px;
  color: $neutral-900;
}

.prof-title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-color;
}

.member-description {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #424955ff;
}

.image-container {
  width: 1176px;
  height: 600px;
  background: $neutral-900;
  border-radius: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  width: 1176px;
  height: 600px;
  border-radius: 12px;
  box-shadow: 0px 4px 9px #171a1f, 0px 0px 2px #171a1f;
}

.team-profile {
  width: 174px;
  height: 174px;
  border-radius: 87px;
  border-width: 5px;
  border-color: #ffffff;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 130px;
  // position: relative;
  width: 1176px;
}

.team-members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fafafbff;
  border-radius: 8px;
  width: 276px;
  height: 414px;
}

@media (max-width: 600px) {
.container {
  padding: 10px;
}

  .text2 {
    width: 100%;
  }

  .image-container,
  .image {
    width: 100%;
    height: auto;
  }

  .team {
    flex-direction: column;
    width: 100%;
  }
}
