<div class="container">
  <div class="text-container">
    <h1 class="text">About Us</h1>
    <p class="text2">
      Welcome to the About Us' section of Learn Platform, where we aim to
      provide you with a deeper understanding of our philosophy, values, and
      mission. Established in 2023, Learn Platform was born out of a passion for
      learning and a belief in the power of knowledge to transform lives.
    </p>
  </div>
  <div class="image-container">
    <img class="image" src="../../assets/images/about-us.jpg" />
  </div>
  <div class="team">
    <div class="team-members">
      <h1 class="title">Our Team</h1>
      <p class="team-desc">
        Aliqua ipsum tempor aliqua eiusmod lorem ad labore culpa aliquip
      </p>
    </div>
    <div class="team-members">
      <img class="team-profile" src="../../assets/images/john-doe.jpg" />
      <h2 class="name">John Doe</h2>
      <p class="prof-title">Professional title</p>
      <p class="member-description">
        Pariatur ea consectetur anim qui nisi exerci
      </p>
    </div>
    <div class="team-members">
      <img class="team-profile" src="../../assets/images/sara-rose.jpg" />
      <h2 class="name">Sara Rose</h2>
      <p class="prof-title">Professional title</p>
      <p class="member-description">
        Laborum officia esse cillum mollit eiusmodi
      </p>
    </div>
    <div class="team-members">
      <img class="team-profile" src="../../assets/images/jack-black.jpg" />
      <h2 class="name">Jack Black</h2>
      <p class="prof-title">Professional title</p>
      <p class="member-description">
        Culpa adipisicing aute sunt velit cupidatat qui a
      </p>
    </div>
  </div>
</div>
