@import "../global.scss";

.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 150px auto;
  width: 100%;
}

.sign-in {
  @include heading-styles;
  font-size: 32px;
  color: $neutral-900; /* neutral-900 */
}

.welcome {
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: $neutral-600; /* neutral-600 */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-family: $secondary-font;

  label {
    font-weight: bold;
  }

  .sign-in-input {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    align-items: center;
    background: #f3f4f6ff;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  all: unset;
  width: 100%;
}

.form-input {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: transparent;
  padding-right: 10px;
  cursor: pointer;
}

.icon {
  overflow: visible;
}

@media (max-width: 600px) {
  .sign-in-container {
    width: 100%;
  }
}
