<div class="sign-in-container">
  <h2 class="sign-in">Sign In</h2>
  <p class="welcome">Welcome back</p>

  <form (ngSubmit)="login(signInForm)" #signInForm="ngForm">
    <div class="form-group">
      <label for="username">User name</label>
      <div class="sign-in-input">
        <mat-icon matPrefix class="icon">account_circle</mat-icon>
        <input
          type="text"
          id="username"
          name="username"
          [(ngModel)]="signInFormModel.username"
          required
          placeholder="Enter email"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <div class="sign-in-input">
        <mat-icon matPrefix class="icon">lock</mat-icon>
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          id="password"
          name="password"
          [(ngModel)]="signInFormModel.password"
          required
          placeholder="Enter password"
        />
        <button
          aria-label="Toggle Password Visibility"
          (click)="togglePasswordVisibility()"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </div>
    </div>

    <app-shared-button buttonStyle="primary" buttonSize="wide"
      ><a routerLink="/home-account">Sign in</a></app-shared-button
    >
  </form>
  <p class="welcome">OR</p>
  <p class="welcome">
    Don't have an account? <a routerLink="/join-us">Sign up</a>
  </p>
</div>
