<div *ngIf="!submitted && !loading" class="registration-container">
  <div class="container">
    <div class="title">
      <h1 class="title">Registration</h1>
      <p>Trainer</p>
    </div>
    <img
      class="image"
      src="../../../assets/images/registration.jpg"
      alt="Trainer Image"
    />
  </div>
  <div class="form-container">
    <form
      class="registration_form"
      #trainerForm="ngForm"
      (ngSubmit)="submitTrainerForm(trainerForm)"
    >
      <label for="firstName">First name</label>
      <input
        class="input"
        type="text"
        id="firstName"
        name="firstName"
        placeholder="Input text"
        [(ngModel)]="trainerFormData.firstName"
        required
        #firstName="ngModel"
      />
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors" class="validator">
          First name is required.
        </div>
      </div>

      <label for="lastName">Last name</label>
      <input
        class="input"
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Input text"
        [(ngModel)]="trainerFormData.lastName"
        required
        #lastName="ngModel"
      />

      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <div *ngIf="lastName.errors" class="validator">
          Last name is required.
        </div>
      </div>

      <label for="email">Email</label>
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        placeholder="Input text"
        [(ngModel)]="trainerFormData.email"
        required
        #email="ngModel"
      />

      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors" class="validator">Email is required.</div>
      </div>

      <label for="specialization">Specialization</label>
      <select
        class="input"
        id="specialization"
        name="specialization"
        placeholder="Please select"
        [(ngModel)]="trainerFormData.specialization"
        required
        #specialization="ngModel"
      >
        <option value="programming">Programming</option>
        <option value="design">Design</option>
        <option value="php">PHP</option>
        <option value="java">Java</option>
        <option value="js">JavaScript</option>
      </select>
      <div
        *ngIf="
          specialization.invalid &&
          (specialization.dirty || specialization.touched)
        "
      >
        <div *ngIf="specialization.errors" class="validator">
          Specialization is required.
        </div>
      </div>

      <div class="submit">
        <app-shared-button buttonStyle="primary" buttonSize="submit"
          ><a routerLink="/trainer-join">Submit</a></app-shared-button
        >
      </div>
    </form>
  </div>
</div>
<div *ngIf="loading" class="loading">
  <div class="loader"></div>
</div>

<div *ngIf="submitted && !loading" class="validation-container">
  <h2>Registration</h2>
  <div class="check">
    <mat-icon class="icon-check">check</mat-icon>
  </div>
  <p>
    Congratulations, you have succesfully registered with Learn Platform! Here
    is your credentials that you can change in your account.
  </p>
  <p>
    Username: {{ trainerFormData.firstName }} {{ trainerFormData.lastName }}
  </p>
  <p>Password: {{ trainerFormData.password }}</p>
  <app-shared-button buttonStyle="primary"
    ><a routerLink="/my-account">My account</a></app-shared-button
  >
</div>
