@import "../global.scss";
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  place-content: center;
}
.grid-item {
  background-color: #ffffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image {
  width: 376px;
  height: 256px;
  border-radius: 12px 12px 0px 0px;
}

.title {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  color: $neutral-900;
  text-align: center;
  padding: 0 0 40px 0;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 376px;
  background: #ffffffff;
  border-radius: 12px;
  border-width: 1px;
  border-color: #bcc1caff;
  border-style: solid;
}

.text {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-color;
}

.blog-title {
  font-family: $primary-font;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: $neutral-900;
}

.date {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #9095a0ff;
}

.text-items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-texts2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 240px;
}

.tag {
  width: 68px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font; /* Body */
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  opacity: 1;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  color: $neutral-600;
}

.load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .grid-container {
    width: 100%;
    grid-template-columns: unset;
  }
}
