<div class="container">
  <h1 class="title">Blog</h1>
  <div class="grid-container">
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog1.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Date</p>
            <p class="tag">Duration</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog2.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Date</p>
            <p class="tag">Duration</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog3.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Date</p>
            <p class="tag">Duration</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog4.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Date</p>
            <p class="tag">Duration</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog5.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Date</p>
            <p class="tag">Duration</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog6.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Date</p>
            <p class="tag">Duration</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="load-more-button">
    <app-shared-button buttonStyle="primary"
      >Load more articles</app-shared-button
    >
  </div>
</div>
