@import "../../global.scss";

.registration-container,
.validation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 100px;
  gap: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.image {
  width: 451px;
  height: 625px;
  border-radius: 12px;
}

.registration_form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 629px;
  height: 52px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  background: #ffffffff;
  border-radius: 6px;
  border-width: 1px;
  border-color: $primary-color;
  outline: none;
}

.input .label {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
}
/* hover */
.input input:hover {
  color: $neutral-900;
  background: #ffffffff;
  border-color: #4d3ed3ff;
}
/* focused */
.input input:focused {
  color: $neutral-900;
  background: #ffffffff;
  border-color: $primary-color;
}
/* disabled */
.input input:disabled {
  color: $neutral-900;
  background: #ffffffff;
  border-color: $primary-color;
}
.input :disabled + .icon,
.input :disabled + .icon + .icon {
  fill: $neutral-900;
}

label {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

h1 {
  left: 132px;
  font-family: $primary-font;
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: $neutral-900;
}

p {
  left: 132px;
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #9095a0ff;
}

.loading {
  padding-top: 50px;
}

.loader {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #ff7a59;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.validator {
  color: red;
}

@media (max-width: 600px) {
  .registration-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
  }

  .container,
  .form-container,
  .registration_form,
  .input,
  .submit {
    width: 100%;
  }
}
