<div *ngIf="!submitted && !loading" class="registration-container">
  <div class="container">
    <div class="title">
      <h1 class="title">Registration</h1>
      <p>Student</p>
    </div>
    <img
      class="image"
      src="../../../assets/images/reg2.jpeg"
      alt="Trainer Image"
    />
  </div>
  <div class="form-container">
    <form
      class="registration_form"
      #studentForm="ngForm"
      (ngSubmit)="submitStudentForm(studentForm)"
    >
      <label for="firstName">First name</label>
      <input
        class="input"
        type="text"
        id="firstName"
        name="firstName"
        placeholder="Input text"
        [(ngModel)]="studentFormData.firstName"
        required
        #firstName="ngModel"
      />
      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
        <div *ngIf="firstName.errors" class="validator">
          First name is required.
        </div>
      </div>

      <label for="lastName">Last name</label>
      <input
        class="input"
        type="text"
        id="lastName"
        name="lastName"
        placeholder="Input text"
        [(ngModel)]="studentFormData.lastName"
        required
        #lastName="ngModel"
      />

      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
        <div *ngIf="lastName.errors" class="validator">
          Last name is required.
        </div>
      </div>

      <label for="email">Email</label>
      <input
        class="input"
        type="email"
        id="email"
        name="email"
        placeholder="Input text"
        [(ngModel)]="studentFormData.email"
        required
        #email="ngModel"
      />

      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors" class="validator">Email is required.</div>
      </div>

      <label for="email">Date of birth (optional)</label>
      <input
        class="input"
        type="text"
        id="birth-date"
        name="birth-date"
        placeholder="Input text"
        ngModel
      />

      <label for="email">Address (optional)</label>
      <input
        class="input"
        type="text"
        id="address"
        name="address"
        placeholder="Input text"
        ngModel
      />
      <div class="submit">
        <app-shared-button buttonStyle="primary" buttonSize="submit"
          ><a routerLink="/student-join">Submit</a></app-shared-button
        >
      </div>
    </form>
  </div>
</div>
<div *ngIf="loading" class="loading">
  <div class="loader"></div>
</div>

<div *ngIf="submitted && !loading" class="validation-container">
  <h2>Registration Successful</h2>
  <p>
    Username: {{ studentFormData.firstName }} {{ studentFormData.lastName }}
  </p>
  <p>Password: {{ studentFormData.password }}</p>
</div>
