@import "../global.scss";
.trainings-container {
  padding: 20px 110px;
  height: 1171px;

  .breadcrumb {
    display: flex;
    align-items: center;

    .account-button {
      font-family: $primary-font; /* Heading */
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: $primary-color;
    }

    a:link {
      text-decoration: none;
    }
  }

  .title {
    font-family: $primary-font;
    font-size: 56px;
    font-weight: 700;
    line-height: 78px;
    color: $neutral-900;
    text-align: center;
    margin: 25px 0 100px 0;
  }

  .button {
    padding: 40px 0;
  }

  .add-training-button {
    height: 36px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $secondary-font; /* Body */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #ffffffff; /* white */
    background: #60cfa5ff; /* tertiary3-500 */
    opacity: 1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  .search-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 180px;

    .search-input {
      width: 100%;
      height: 36px;
      padding-left: 12px;
      padding-right: 12px;
      font-family: $secondary-font; /* Body */
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      background: #f3f4f6ff; /* neutral-200 */
      border-radius: 6px; /* border-m */
      border-width: 0px;
      outline: none;
    }
    .date-input {
      width: 100%;
      height: 36px;
      padding-left: 34px;
      padding-right: 12px;
      font-family: $secondary-font; /* Body */
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      background: #ffffffff; /* white */
      border-radius: 6px; /* border-m */
      border-width: 1px;
      border-color: $primary-color; /* primary-500 */
      outline: none;
    }

    .search-inputs {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .training-details {
        display: flex;
        gap: 50px;
      }

      .training-dates {
        display: flex;
        gap: 50px;
      }

      label {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
      }
    }

    .search-button {
      background-color: #007bff;
      color: #fff;
      padding: 10px;
      border: none;
      cursor: pointer;
    }

    .form-group {
      display: flex;
      flex-direction: column;
    }
  }
  .trainers {
    font-family: $primary-font;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding-bottom: 30px;
  }

  .passed-trainings {
    margin-top: 20px;

    table {
      width: 100%;
      height: 226px;
      opacity: 1;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
      border-spacing: 0;
    }

    th {
      text-align: left;
      background-color: rgb(236, 236, 236);
      font-family: $primary-font;
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      padding: 10px;
    }

    td {
      font-family: $secondary-font;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      padding-left: 10px;
    }

    tr {
      height: 60px;
    }

    tr:nth-child(even) {
      background-color: #e0e0e0;
    }

    .training-name {
      font-weight: 700;
    }

    .tag:not(:empty) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 67px;
      height: 28px;
      border-radius: 14px;
      font-family: $secondary-font; /* Body */
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      opacity: 1;
      color: $primary-color; /* primary-500 */
      background: #f3f2fcff;
      padding-left: 6px;
      padding-right: 6px;
      margin-top: 15px;
    }
  }
}

@media (max-width: 600px) {
  .trainings-container {
    width: 100%;
    padding: 10px;
  }

  .search-inputs {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .training-details,
  .form-group,
  .search-input {
    width: 100%;
  }

  .passed-trainings {
    width: 100%;
    table {
      width: 100%;
    }
  }
}
