<div class="trainings-container">
  <div class="breadcrumb">
    <a class="account-button" routerLink="/my-account">My Account</a>
    <mat-icon>keyboard_arrow_right</mat-icon>
    <p>Trainings</p>
  </div>
  <h2 class="title">Trainings</h2>
  <div class="button" *ngIf="userRole == 'student'">
    <button class="add-training-button">Add Training</button>
  </div>

  <div class="search-section">
    <h3 class="trainers" *ngIf="userRole == 'student'">Search Trainings</h3>
    <h3 class="trainers" *ngIf="userRole == 'trainer'">Trainings</h3>
    <div class="search-inputs">
      <div class="training-details">
        <div class="form-group" *ngIf="userRole == 'trainer'">
          <label for="studentName">Student name</label>
          <input type="text" placeholder="Student name" class="search-input" />
        </div>
        <div class="form-group" *ngIf="userRole == 'student'">
          <label for="trainerName">Trainer name</label>
          <input type="text" placeholder="Trainer name" class="search-input" />
        </div>
        <div class="form-group" *ngIf="userRole == 'student'">
          <label for="specialization">Specialization</label>
          <input
            type="text"
            placeholder="Specialization"
            class="search-input"
          />
        </div>
      </div>
      <div class="training-dates">
        <div class="form-group">
          <label for="fromDate">From</label>
          <input type="date" placeholder="From date" class="date-input" />
        </div>
        <div class="form-group">
          <label for="toDate">To</label>
          <input type="date" placeholder="To date" class="date-input" />
        </div>
      </div>
    </div>
    <app-shared-button buttonStyle="primary">Search</app-shared-button>
  </div>

  <div class="passed-trainings">
    <h3 class="trainers">My passed trainings</h3>
    <table *ngIf="userRole == 'student'">
      <thead>
        <tr>
          <th>DATE</th>
          <th>TRAINING NAME</th>
          <th>TYPE</th>
          <th>TRAINER NAME</th>
          <th>DURATION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let training of passedTrainings">
          <td>{{ training.date }}</td>
          <td class="training-name">{{ training.trainingName }}</td>
          <td class="tag">{{ training.type }}</td>
          <td>{{ training.trainerName }}</td>
          <td>{{ training.duration }}</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="userRole == 'trainer'">
      <thead>
        <tr>
          <th>DATE</th>
          <th>TRAINING NAME</th>
          <th>TYPE</th>
          <th>STUDENT NAME</th>
          <th>DURATION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <td>{{ result.date }}</td>
          <td class="training-name">{{ result.trainingName }}</td>
          <td class="tag">{{ result.type }}</td>
          <td>{{ result.studentName }}</td>
          <td>{{ result.duration }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
