<div class="container">
  <h1 class="title">Join Us</h1>
  <div class="grid-container">
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/join-us1.png" />
        <div class="text-items">
          <div class="texts">
            <h2 class="register">Register as Trainer</h2>
            <p class="description">Do consectetur proident proident id eiusmod deserunt consequat pariatur ad ex velit do Lorem reprehenderit.</p>
            <app-shared-button buttonStyle="primary"><a routerLink="/trainer-join">Join Us</a></app-shared-button>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/join-us2.jpeg" />
        <div class="text-items">
          <div class="texts">
            <h2 class="register">Register as Student</h2>
            <p class="description">Do consectetur proident proident id eiusmod deserunt consequat pariatur ad ex velit do Lorem reprehenderit.</p>
            <app-shared-button buttonStyle="primary"><a routerLink="/student-join">Join Us</a></app-shared-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
