@import "../global.scss";

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 10px;
  place-content: center;
}

.grid-item {
  background-color: #ffffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image {
  width: 588px;
  height: 384px;
  border-radius: 0px 12px 12px 0px;
}

.title {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  color: $neutral-900;
  text-align: center;
  padding: 0 0 40px 0;
}

.item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 1176px;
  height: 384px;
  background: #fafafbff; /* neutral-100 */
  border-radius: 12px; /* border-xl */
}

.register {
  width: 480px;
  font-family: $primary-font; /* Heading */
  font-size: 48px;
  font-weight: 700;
  line-height: 68px;
  color: $neutral-900; /* neutral-900 */
}

.description {
  width: 460px;
  font-family: $secondary-font; /* Body */
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: $neutral-900; /* neutral-900 */
}

.text-items {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  gap: 25px;
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .grid-container,
  .grid-item,
  .image,
  .item {
    width: 100%;
   // grid-template-columns: auto auto auto;
  }

  .item {
    flex-direction: column;
    height: fit-content;
  }

  .text-items {
    padding: 0;
  }

  .texts {
    align-items: center;
  }
}
