<div class="container">
  <div class="text-container" *ngFor="let user of userData">
    <h1 class="text">Hi, {{ user.firstName }}!</h1>
    <p class="text2">
      Welcome to Learn Platform - where every day is a day to learn. Dive into
      the vast ocean of knowledge and empower yourself with the tools for a
      successful tomorrow. Happy learning!
    </p>
    <h1 class="text">What's new?</h1>
    <p class="text2">
      Do consectetur proident proident id eiusmod deserunt consequat pariatur ad
      ex velit do Lorem reprehenderit.
    </p>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog1.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text-grid">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Dec 24, 2022</p>
            <p class="tag">5min read</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog2.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text-grid">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Dec 14, 2022</p>
            <p class="tag">3min read</p>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-item">
      <div class="item">
        <img class="image" src="../../assets/images/blog3.jpg" />
        <div class="text-items">
          <div class="blog-texts">
            <p class="text-grid">Do consectetur</p>
            <h2 class="blog-title">Blog title</h2>
          </div>
          <div class="blog-texts2">
            <p class="date">Dec 10, 2022</p>
            <p class="tag">8min read</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="load-more-button">
    <app-shared-button buttonStyle="primary"
      >View more articles</app-shared-button
    >
  </div>
</div>
