@import "../../global.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  height: fit-content;
  background: #ffffffff;
  border-radius: 0px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.text {
  font-family: $primary-font;
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  color: $neutral-900;
  text-align: center;
  margin-top: 10px;
}

.text2 {
  width: 780px;
  font-family: $secondary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #9095a0ff;
  text-align: center;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  place-content: center;
}
.grid-item {
  background-color: #ffffffff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image {
  width: 376px;
  height: 256px;
  border-radius: 12px 12px 0px 0px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 376px;
  background: #ffffffff;
  border-radius: 12px;
  border-width: 1px;
  border-color: #bcc1caff;
  border-style: solid;
}

.text-items {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 25px;
}

.text-grid {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-color;
}

.blog-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.blog-texts2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 175px;
}

.date {
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #9095a0ff;
}

.tag {
  width: 68px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  opacity: 1;
  border-radius: 14px;
  border-width: 1px;
  border-style: solid;
  color: $neutral-600;
}

.load-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
    gap: 30px;
    width: 100%;
  }

  .text2 {
    width: 100%;
  }

  .grid-container {
    width: 100%;
    grid-template-columns: unset;
  }
}
