@import "../../global.scss";

.primary {
  width: fit-content;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font; /* Body */
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffffff; /* white */
  background: $primary-color; /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 6px; /* border-m */
}
/* Hover */
.primary:hover {
  color: #ffffffff; /* white */
  background: #4d3ed3ff; /* primary-550 */
}
/* Pressed */
.primary:hover:active {
  color: #ffffffff; /* white */
  background: #3d2dc7ff; /* primary-600 */
}
/* Disabled */
.primary:disabled {
  opacity: 0.4;
}

.secondary {
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $secondary-font; /* Body */
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $primary-color; /* primary-500 */
  background: transparent; /* transparent */
  opacity: 1;
  border: none;
  border-radius: 6px; /* border-m */
}
/* Hover */
.secondary:hover {
  color: $primary-color; /* primary-500 */
  background: #e1dff8ff; /* primary-150 */
}
/* Pressed */
.secondary:hover:active {
  color: $primary-color; /* primary-500 */
  background: #cfcbf3ff; /* primary-200 */
}
/* Disabled */
.secondary:disabled {
  opacity: 0.4;
}

.wide {
  width: 335px;
  height: 44px;
}

.normal {
  width: fit-content;
}

.submit {
  width: 629px;
  height: 52px;
}

@media (max-width: 600px) {
  .submit {
    width: 100%;
  }
}
