<header class="header">
  <div class="header-content">
    <div class="mobile-menu">
      <div (click)="toggleSideMenu()">
        <mat-icon>more_horiz</mat-icon>
        <app-side-nav
          class="side-menu"
          *ngIf="isSideMenuOpen && !isClosed"
          (closeSideMenu)="closeSideMenu()"
        ></app-side-nav>
      </div>
    </div>
    <div class="header-logo">
      <img src="../../assets/images/learn-icon.png" class="image" />
      <div class="learn-text">learn</div>
    </div>
    <div
      class="navigation-menu"
      *ngIf="pageInfoService.currentPage !== '/sign-in'"
    >
      <app-navigation-menu></app-navigation-menu>
    </div>
  </div>
  <div class="header-badge" *ngIf="userService.isLoggedIn()">
    <div
      class="badge-container"
      (mouseenter)="openDropdown()"
      (mouseleave)="closeDropdown()"
    >
      <img
        *ngIf="userRole == 'student'"
        src="../../assets/images/profile1.jpg"
        class="badge-image"
      />
      <img
        *ngIf="userRole == 'trainer'"
        src="../../assets/images/profile2.jpg"
        class="badge-image"
      />
      <div class="user-details">
        <div class="badge-username">{{ userService.getUserUsername() }}</div>
        <div class="badge-username">{{ userService.getUserEmail() }}</div>
      </div>

      <!-- Dropdown content -->
      <div *ngIf="isDropdownOpen" class="dropdown">
        <div class="dropdown-item">
          <a routerLink="/my-account">My Account</a>
        </div>
        <div class="dropdown-item">Night Mode</div>
        <div class="dropdown-item" (click)="logout()">Log Out</div>
      </div>
    </div>
  </div>
  <div
    class="header-buttons"
    *ngIf="
      pageInfoService.currentPage !== '/sign-in' &&
      pageInfoService.currentPage !== '/join-us' &&
      pageInfoService.currentPage !== '/student-join' &&
      pageInfoService.currentPage !== '/trainer-join' &&
      pageInfoService.currentPage !== '/my-account' &&
      !userService.isLoggedIn()
    "
  >
    <app-shared-button buttonStyle="secondary"
      ><a routerLink="/sign-in">Sign In</a></app-shared-button
    >
    <app-shared-button buttonStyle="primary"
      ><a routerLink="/join-us">Join Us</a></app-shared-button
    >
  </div>
</header>
