@import "../global.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  font-family: "Poppins", sans-serif;
  @include border-radius-m;
  border-width: 1px;
  border-color: #dee1e6ff;
  border-style: solid;

  &-content {
    display: flex;
    align-items: center;
  }

  &-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    .image {
      width: 45px;
      height: 34px;
      @include border-radius-m;
    }

    .learn-text {
      font-family: $primary-font;
      font-size: 32px;
      font-weight: 1000;
      line-height: 48px;
      color: $neutral-900;
    }
  }

  &-menu {
    display: flex;
    align-items: center;

    a:link {
      text-decoration: none;
    }

    &-item {
      padding: 13px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $neutral-600;
      background: transparent;
      @include border-radius-m;
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        color: $primary-color;
        background: transparent;
      }

      &.selected {
        font-weight: 700;
        color: $primary-color;
        background: transparent;

        &:hover {
          color: $primary-color;
          background: transparent;
        }
      }
    }
  }

  &-buttons {
    display: flex;

    a:link {
      text-decoration: none;
    }
  }

  &-badge {
    display: flex;

    .badge-image {
      width: 51px;
      height: 51px;
      background: #cfcbf3ff; /* primary-200 */
      opacity: 1;
      overflow: hidden;
      border-radius: 26px;
    }

    .badge-username {
      width: 163px;
      height: 27px;
      font-family: $secondary-font; /* Body */
      font-size: 14px;
      font-weight: 700;
      line-height: 22px;
      color: $neutral-900;
    }

    .user-details {
      display: flex;
      flex-direction: column;
    }

    .badge-container {
      display: flex;
      align-items: center;
      gap: 5px;
      position: relative;
      cursor: pointer;

      .dropdown {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 8px;
        z-index: 10;
        right: 0;
        transform: translateX(calc(50% - 12px));
        width: 219px;

        .dropdown-item {
          cursor: pointer;
          padding: 8px;
          color: #000;

          &:hover {
            background-color: #f0f0f0;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .header {
    justify-content: space-evenly;
  }

  .navigation-menu {
    display: none;
  }

  .mobile-menu {
    width: 24px;
    height: 24px;
    color: #6355d8ff;
    z-index: 999;
  }

  .side-menu {
    position: fixed;
  }

  .header-badge {
    display: none;
  }
}
