@import "~@fortawesome/fontawesome-free/css/all.css";

// Common colors
$primary-color: #6355d8ff;
$neutral-600: #565e6cff;
$neutral-900: #171a1fff;

// Common Sizings
$input-padding: 10px;
$input-border: 1px solid #ccc;
$input-border-radius: 4px;

$primary-font: Montserrat;
$secondary-font: Poppins;

// Common Heading Styles
@mixin heading-styles {
  font-family: Montserrat;
  font-weight: 1000;
  line-height: 48px;
}

@mixin border-radius-m {
  border-radius: 6px;
}

a:link {
  text-decoration: none;
}